# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
*.env

# Storage & Logs
storage/
logs/
tmp/

# Databases
*.db
*.sqlite

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
poetry.lock
